.contentsContainer {
  display: flex;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bookmarkBtn {
  visibility: hidden;
  margin-left: 0.8rem !important;
}

.definitionsContainer {
  width: 70%;
  margin-bottom: 3rem;
}

.cardsContainer {
  margin-bottom: 15px !important;
}

.cultureContainer {
  margin: 0 3rem;
  width: 30%;
  padding: 10px;
}

.spotify {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 1100px) {
  .contentsContainer {
    display: inherit;
  }

  .headerContainer {
    flex-direction: column;
    max-width: 100%;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
  }

  .bookmarkBtn {
    visibility: visible;
  }

  .definitionsContainer {
    width: 100%;
  }

  .cultureContainer {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    margin: 0;
  }

  .spotify {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
