.pageContainer {
  padding: 20px;
}

.contentsContainer {
  display: flex;
  padding: 10px;
}

.definitionsContainer {
  width: 70%;
}

.cultureContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 30%;
}
