.selectContainer {
  border-radius: 10px;
  box-shadow: 2px 2px 2px #555;
  background-color: #edf6f9;
  text-shadow: none;
}

.selectBox {
  margin-bottom: 1rem;
}

.selectButton {
  position: fixed;
  float: right;
}
